[Unit]
Description=Initilizing Simpleaudio GPIO Configuration
After=network.target

[Service]
ExecStart=/usr/bin/initgpio
Restart=on-failure

[Install]
WantedBy=multi-user.target
